<h1>Add Restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
  <div>
  <%= f.input :name %>
  </div>
  <div>
  <%= f.input :address %>
  </div>
  <div>
  <%= f.input :category %>
  </div>
  <div>
  <%= f.input :phone_number %>
  </div>
  <div>
  <%= f.submit %>
  </div>
<% end %>
